<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Twitter</th>
    </tr>
  </thead>
  <tbody>

    <tr>
    <td><%= amigo.nombre %></td>
    <td><%= amigo.apellido %></td>    
    <td><%= amigo.email %></td>
    <td><%= amigo.cel %></td>
    <td><%= amigo.twitter %></td>
    </tr>

  </tbody>
</table>