<h3>Lista de amigos:</h3>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Celular</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
       <% @amigos.each do |amigo| %>
    <tr>
    <td><%= amigo.nombre %> </td>
    <td><%= amigo.apellido %></td>    
    <td><%= amigo.email %></td>
    <td><%= amigo.cel %></td>
    <td><A HREF="https://twitter.com/<%= amigo.twitter %>"> <%= amigo.twitter %>  </A></td>
    <td><%= link_to "Ver información de este amigo", amigo %></td>
    </tr>
        <% end -%>
  </tbody>
</table>
<%= link_to "Añadir amigo", new_amigo_path %>

